@import url(http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300,600);

@import "body.css";
@import "header.css";
@import "links.css";
@import "footer.css";


.new-link {
  width: 300px;
  min-height: 100%!important;
  margin: auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 25px;
}

.form-title {
  color: #fe6700;
  font-family: "Varela Round";
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}

.nice-inputs input {
  background: #b0aba4;
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 25px;
  margin: 0 auto;
}

.nice-inputs p {
  margin-bottom: 20px;
}

.nice-inputs .button {
  padding: 7px 15px;
  background: #8ecea5;
}