<footer>
  <div class="ma-logo"><img src="/images/ma_logo.png"></div>
  <div class="footer-text">
    <p>Built by <a href="https://github.com/itsmurasaki">Nat</a> at <a href="http://www.makersacademy.com" target="_blank">Makers Academy</a>.</p>
    <p>This website was built by using Ruby, Sinatra, Rspec, Capybara, HTML and CSS.</p></div>

</footer>