<header>
  <div class="logo">Bookmark Manager</div>

  <div class="user-links">
    <% if current_user %>
      <span class="welcome-msg">Welcome, <%= current_user.email %></span>
      
      <form class="sign-out" action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out" class="button">
      </form>

    <% else %>
      <a href="/sessions/new" class="button sign-in">Sign in</a>
      <a href="/users/new" class="button sign-up">Sign up</a>
    <% end %>
  </div>
</header>