<div class="container">
  <div class="welcome-bar">

  <div class="wb-left">Welcome to the Bookmark manager!</div>
  <div class="wb-right">
    <a href="/links/new" class="button add-link">Add a new link</a>
  </div>
  <div class="clearfix"></div>
  </div>

Current links:

<ul>
  <% @links.each do |link| %>
  	<li><a href="<%= link.url %>"><%= link.title %></a></li>
  <% end %>
</ul>

</div>